@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.favorite-badge {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
}

.navigation-link_button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.welcome {
  background-color: #293938;
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages{
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-descrption {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item_shadow {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item_blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text {
  color: #333333;
}

.advantages-item-text_white {
  color: #FFFFFF;
}

.service {
  text-align: center;
}

.service-list {
  list-style: none;
}

.service-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.service-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item_white {
  background-color: #FFFFFF;
}

.service-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-item-text {
  color: #333333;
}

.hotels {
  text-align: center;
}

.hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotels-search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #FFFFFF;
}

.newsteller {
  text-align: center;
  background-color: #90acba;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.newsteller-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsteller-text {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: 0;
}

.footer-social-list {
  list-style: none;
}

.footer-social-link {
  text-decoration: none;
}

.telefon {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.copyright-link {
  text-decoration: none;
}

.search-form {
  background-color: #90acba;
  background-image: url(../images/catalog-search-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.search-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.hotels-form-group {
  border: 0;
}

.form-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.checkbox-name,
.radio-name {
  font-size: 18px;
  line-height: 23px;
}

.price-from-till {
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  color: #000000;
}

.hotels-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
}

.hotel-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-result-list {
  list-style: none;
}

.search-result-item {
  color: #333333;
}

.result-item-link {
  text-decoration: none;
  color: #000000;
}

.result-item-title {
  font-size: 24px;
  line-height: 28px;
}

.result-item-about,
.result-item-in-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.result-item-about {
  text-decoration: none;
  background-color: #756157;
}

.result-item-in-favorites {
  background-color: #82B3D3;
  border: 0;
}

.result-item-rating-star {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../images/icons/icon-star.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.result-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-link_current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link_other {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}
